<% provide(:title, "Home") %>

  <div class="row">
    <div class="col-md-6 recent-trips">
      <h1 class="heading">The Fishing Report...</h1>
        <%= render @fishing_trips %>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <%= render 'fish_catches/fish_table' %>
    </div>
  </div>
  
 


  
  
