<% provide(:title, "Home") %>

  <div class="row">
    <div class="col-md-7">
      <h1>Recent Trips</h1>
      <ol class="fishing-trips">
        <%= render @fishing_trips %>
      </ol>
    </div>
     <div class="col-md-4 col-md-offset-1">
      <%= render 'shared/fish_table' %>
    </div>
  </div>
  
 


  
  
