

<% if @fishing_trip.fish_catches.count == 1 %>
  $('.fishing-trip-body').after("<%= j render(partial: 'fish_catches/fish_catch_carousel') %>");
  $('#new_fish_catch')[0].reset();
  $("#fish-catch-form").hide();
<% else %>
  <% indicator = '<li data-target="#fish_catch_carousel" data-slide-to="#{@fishing_trip.fish_catches.count - 1}" ></li>'  %>
  $('#new_fish_catch')[0].reset();
  $("#fish-catch-form").hide();
  $(".img-button").text("choose image")
<% end %>