@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etx */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

.top-buffer-sm {
  margin-top: 20px;
}

.top-buffer-md {
  margin-top: 50px;
}

.top-buffer-lg {
  margin-top: 80px;
}

.bottom-buffer-sm {
  margin-bottom: 20px;
}

.bottom-buffer-md {
  margin-bottom: 50px;
}

.bottom-buffer-lg {
  margin-bottom: 80px;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
  color: #fff;
  text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
    color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.debug_dump {
  @include box_sizing;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0px;
    margin-top: 20px;
    &:first_child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

input {
  height: auto !important;
}

#fishing_trip_content {
  height: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-align {
  margin-top: 24px
}



.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* fishing trips */

.fishing-trips{
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  img {
      display: block;
      width: 80px;
      margin-right: 10px;
    }
  .trip-details {
    margin-left: 10px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
  }
  .timestamp {
    color: $gray-light;
    display: block;
  }
  .media {
    margin-top: 0px;
  }
}

.fishing-trip-header {
  position: relative;
  h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .btn-align-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  }
}

#fish_catch_carousel {
  margin-top: 50px;
  .carousel-caption {
    width: fit-content;
    float: right;
    p, h5 {
      background-color: white;
      margin: 0px;
      font-size: 30px;
      color: black;
    }
  }
}

.list-item-inline {
  margin-right: -5px;
}

.list-inline {
  margin-bottom: 0px;
}

.fish-catch-img-delete {
  width: 80%;
  margin: auto;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.top-fish td {
  font-size: 12px;
}

.fish-catch-container {
  margin-top: 20px;
  .fish-catch-img {
    width: 100%;
  }
  .fish-catch-details {
    font-size: 16px;
  }
}

/* top fish table */
.top-fish {
  text-align: center;
  .btn {
    padding: 0px;
    font-weight: bold;
  }
  th {
    text-align: center;
  }
  td {
    font-size: 14px;
  }
  
}

// /* user show */
// input[type="file"] {
//   color: transparent;
//   display: inline;
//   width: 90px;
// }