/* top fish table */
.top-fish {
  text-align: center;
  .btn {
    padding: 0px;
    font-weight: bold;
  }
  th {
    text-align: center;
  }
  td {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
  }
}
