$gray-medium-light: #eaeaea;
.fishing-trips {
  list-style: none;
  padding: 0;
  
  li {
    padding-top: 10px;
    border-top: 1px solid #e8e8e8;
  }
  p {
    margin-bottom: 5px;
  }
  img {
      display: block;
      width: 80px;
      margin-right: 10px;
    }
  .trip-details {
    margin-left: 10px;
  }
  
  .media {
    margin-top: 0px;
  }
}