<li class="media">
  <div class="media">
    <div class="media-left media-middle">
      <%= link_to image_tag(fishing_trip_fish_catches_image(fishing_trip, :thumbnail), class: "media-object"), fishing_trip_path(fishing_trip) %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to fishing_trip.title, fishing_trip_path(fishing_trip) %></h4>
      <p><%= fishing_trip.content.truncate_words(15) %></p>
      <p>Posted <%= time_ago_in_words(fishing_trip.created_at) %> ago.</p>
    </div>
  </div>
</li>