<% provide(:title, 'Fishing Trip') %>

<div class="container top-buffer-md">
  <%= render 'form', submit_text: "Upload Fishing Trip",
                     cancel_link: user_path(@fishing_trip.user.id) %>
</div>