<footer class="footer">
  <p>Keeper</p>
  <nav>
    <ul>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Contact", "mailto: hello@keeper.com" %></li>
    </ul>
  </nav>
</footer>